
*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

.intro{
   background-color: #353A3C;
   margin: 0px 0px;
   margin-top: 1px;
   padding-top: 40px;
   width: 100%;
   height: 420px; 
}
.image{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.intro h1{
   color: #D1CDC7;
   text-align: center;
   font-size: 5vw;
}
.intro p{
   margin-left: 5%;
   margin-right: 5%;
   color: #D1CDC7;
   text-align: center;
}
.buttons{
   display: block;
   width: 250px;
   margin: auto;
}

/* -------------- content -------------- */
.content{
   background-color: #978d8d;
   width: 100%;  
   padding: 40px;
   margin-top: 1px;
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
}
/* .card-holder{

   margin: 5% 10%;
   display: flex;
   justify-content: space-between;
} */
/* .card{
   display: inline-block;
   margin-left: 10px;
} */

.card1 {
   background-color: #2196F3;
   padding: 20px;
   float: left;
   display: inline-block;
   width: 100%; /* The width is 20%, by default */
 }
 
 .card2 {
   background-color: #f1f1f1;
   padding: 20px;
   float: left;
   width: 32%; /* The width is 60%, by default */
 }
 
 .card3 {
   background-color: #04AA6D;
   padding: 20px;
   float: left;
   width: 32%; /* The width is 20%, by default */
 }
@media screen and (max-width: 600px) {
   .card1, .card2, .card3 {
     width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
   }
 }

/* -------------- footer ------------------- */

.footer{
   margin-top: 1px;
}
.text-footer{
   font-family: sans-serif;
   width: 100%;
   height: 50px;
   color: rgb(250, 243, 243);
   background-color: #343A40;
   text-align: center;    
}
#foot-text{
   padding-top: 13px;
}

